<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/home">Home</a></li>
    </ul>
    <a href="/items"><h3 class="text-muted">산행객</h3></a>

    <div th:if="${session.loginUser != null}" class="top_menu">
        <div class="login_user"><strong><i class="far fa-user-circle"></i> [[ ${session.loginUser.name} ]]</strong>님 반갑습니다.</div>
        <div class="logout">
            <form action="/logout" method="post">
                <button type="submit"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
    </div>
    <div th:if="${session.loginAdminister != null}" class="top_menu">
        <div class="login_user"><strong><i class="far fa-user-circle"></i> [[ ${session.loginAdminister.name} ]]</strong>님 반갑습니다.</div>
        <div class="logout">
            <form action="/logout" method="post">
                <button type="submit"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
    </div>
</div>
