<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>상품 이미지</th>
                <th>가격</th>
                <th>재고수량</th>
                <th>구매</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td>
                    <img th:src="|/files/${item.getStoreFileName}|" alt="item image" width="100" height="100">
                </td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>

                <td>
                    <a th:href="@{/order/items/{itemId} (itemId=${item.id})}"
                       class="btn btn-primary" role="button">주문 하기</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addItemForm.html'"
                        th:if="${session.loginAdminister != null}"
                        th:onclick="|location.href='@{/items/add}'|"
                        type="button">상품 등록</button>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>